@import 'bootstrap';

:root {
    --buttonAdd : #6246ea;
    --buttonUpdate : #007bff;
    --buttonDelete : #F7374F;
    --buttonDetail : #ffd803;
    --buttonVerifikasi : #ffd803;
    --headline : #fffffe;
    --paragraph : #a7a9be;
    --cardbackgound :#272343;
    --backgroundAll :#fffffe;
}

a {
    text-decoration: none;
}

body {
    background-color: #0f0e17 !important;
}


@media(max-width: 991px) {
    .sidebar {
        background-color: rgba(255,255,255, 0.15);
        backdrop-filter: blur(10px);
    }
}



